.formulario {
    width: 300px;
    height: 400px;
    background-color: chocolate;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    padding-top: 100px;
}

.formulario_caja {
    display: grid;
    place-content: center;
    place-items: center;
}

.formulario_btn {
    display: grid;
    place-content: center;
}

